<!--
  Generated template for the MyorderPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>myorder</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <div class="">
    <ion-list no-lines no-margin margin-left>
      <ion-item no-padding no-lines>
        My Orders
    </ion-item>
    </ion-list>
    
         
  <ion-item *ngFor="let o of myOrders;  let i=index " >
    <div tappable (click)="goTo('OrdersPage',o)">
      <p style="font-size:9px; text-align:left; color:orange">order id-  {{o.o_id}}</p>
      <!-- <ion-avatar item-start>
        <img *ngIf="o.details.length>0" src="http://www.babyneeds.co.in/babyneeds/product_image/{{o.details[0].img_url}}">
      </ion-avatar> -->
      <!-- <h3  *ngIf="o.details.length>0" >{{o.details[0].product_name}}</h3> -->
        
      <p style="font-size:9px; text-align:left; color:orange">Rs:{{o.amount}} <br>{{o.shipping_type}}  </p>
    
   
      <p style="font-size:9px; text-align:left; color:orange">Delivery date-{{o.date}} </p>
    
      <p style="font-size:9px; text-align:left; color:orange">Status-{{o.order_status}}  </p>
    </div>
    </ion-item>
    
<!--        
  <ion-row>
      <ion-col text-left>
        <button item-end ion-button clear icon-end tappable (click)="goTo('CategoriesPage')">
          {{ 'SEE_ALL' | translate }}
          <ion-icon name="arrow-forward"></ion-icon>
        </button>
          </ion-col>
        </ion-row> -->
    
 


</div> 

</ion-content>
