page-login {
    // .toolbar-background,
    // ion-navbar,
    // ion-header {
    //   background: transparent !important;
    //   background-color: transparent !important;
    //   border: none !important;
    // }
    // Fullscreen centered image background
       
    .logo {
      width: 45%;
      height: 20%;
      margin-left: 90px;
      margin-top:20px; 
      margin-bottom:20px;
      padding-top: 10%;
      
    }
   
    
}
