page-login {
    // .toolbar-background,
    // ion-navbar,
    // ion-header {
    //   background: transparent !important;
    //   background-color: transparent !important;
    //   border: none !important;
    // }
    // Fullscreen centered image background
       
    .logo {
      width: 100%;
      height: auto;
      margin: 0 auto;
      padding-bottom: 10%;
    }
   
    
}
