
<ion-header>  
	
		<ion-navbar color="primary">
				<button ion-button menuToggle>
						<ion-icon name="menu"></ion-icon>
					  </button>
			<ion-title>Profile</ion-title>
		</ion-navbar>
		
	  
	</ion-header>

<ion-content>
			<ion-item no-padding color="primary" *ngIf="_user.user.fname" >
			
				<div align="center">	
			<img align-items="center" src="assets/img/logo/ic_launcher.png"></div>
				
			<h3 style="font-size:14px; text-align:center; color:#ffff">{{user.fname}}</h3>
			<h3 style="font-size:14px; text-align:center ; color:#ffff" >{{user.user_email}}</h3>
			<!-- <p style="font-size:10px; text-align:center">{{ 'EDIT PROFILE' | translate}}</p> -->
			<!-- <ion-avatar item-end>
				<img src="assets/img/miscellaneous/user.png">
			</ion-avatar> -->
		</ion-item>


		<ion-item no-padding  color="primary" *ngIf="!_user.user.fname">
			
				<div align="center">		<img align-items="center" src="assets/img/logo/ic_launcher.png"></div>
				
			<h3 style="font-size:14px; text-align:center; color:#ffff"></h3>
			<h3 style="font-size:14px; text-align:center ; color:#ffff" >Welcome Guest</h3>
		</ion-item>

       <ion-list  *ngIf="_user.user.fname">
		<!-- <ion-item mode="ios" tappable (click)="goTo('AccountChatsPage')">
			Chats
			<ion-badge>3</ion-badge>
			<ion-icon name="fa-paypal" item-end></ion-icon>
		</ion-item> -->
		<!-- <button ion-item tappable (click)="goTo('AccountNotificationPage')">
			{{ 'NOTIFICATIONS' | translate}}
			<ion-badge item-end *ngIf="_notif.all.length > 0">{{_notif.all.length}}</ion-badge>
		</button> -->
<div align="center" padding >
	
		

		<br>	<button  ion-button full round  color="app_primary" tappable (click)="goTo('ChangePage')">
					{{ 'Change Password' | translate}}
					<!-- <ion-badge item-end *ngIf="_address.all.length > 0">{{_address.all.length}}</ion-badge> -->
				</button><br>

				<button  ion-button full  round  color="app_primary" tappable (click)="goTo('SavedAddressPage')">
					{{ 'Saved Address' | translate}}
					<ion-badge  item-end *ngIf="_address.all.length > 0">{{_address.all.length}}</ion-badge>
				</button><br>
		
			
				<button  ion-button full  round  color="app_primary" tappable (click)="goTo('MyorderPage')">
					{{ 'My Orders' | translate}}
					<!-- <ion-badge item-end *ngIf="_address.all.length > 0">{{_address.all.length}}</ion-badge> -->
				</button><br>
	
	


			<button  ion-button full round  color="app_primary" tappable (click)="logout()">
					{{ 'Logout' | translate}}
					<!-- <ion-badge item-end *ngIf="_address.all.length > 0">{{_address.all.length}}</ion-badge> -->
				</button><br><br>

		<!-- <button ion-item tappable (click)="goTo('AccountSettingsPage')">
			{{ 'SETTINGS' | translate}}
		</button>

		<button ion-item tappable (click)="goTo('AccountHelpPage')">
			{{ 'FAQ' | translate}}
		</button>

		<button ion-item tappable (click)="emailUs()">
			{{ 'CONTACT' | translate}}
		</button>

		<button ion-item tappable (click)="rateUs()">
			{{ 'GIVE_FEEDBACK' | translate}}
		</button> -->
	</div>
	</ion-list>



	<ion-list  *ngIf="!_user.user.fname">
		<div padding align="center">


			<br>	<button  ion-button  round full color="app_primary" tappable (click)="goTo('RegisterPage')">
						{{ 'Register' | translate}}
						<!-- <ion-badge item-end *ngIf="_address.all.length > 0">{{_address.all.length}}</ion-badge> -->
					</button> <br>
		
				


			<button  ion-button  round full color="app_primary" tappable  (click)="goTo('LoginPage')">
					{{ 'Log In' | translate}}
					<!-- <ion-badge item-end *ngIf="_address.all.length > 0">{{_address.all.length}}</ion-badge> -->
				</button> <br>
		
			</div>

	</ion-list>
</ion-content>
