<ion-header>
    
      <ion-navbar color="primary">
        <ion-title>Order Detail</ion-title>
      </ion-navbar>
    
    </ion-header>

<ion-content >
  
    <button ion-button block >Total :RS. {{orders.amount}}</button>
    <div *ngIf="orders.details.length>0">
        <p padding style="font-size:12px; text-align:left">Summery: {{orders.order_detail}}  </p>
    <ion-card *ngFor="let o of orders.details" > 
      <ion-item (click)="writereview(o)">
        
            <!-- <p style="font-size:9px; text-align:left; color:orange">order id-  {{o.o_id}}</p> -->
            <ion-avatar item-start>
              <img src="http://www.babyneeds.co.in/babyneeds/product_image/{{o.img_url}}">
            </ion-avatar>
            <h3   >{{o.product_name}}</h3>
              
            <p style="font-size:9px; text-align:left">Quantity :{{o.qty}}  </p>
          
         
            <!-- <p style="font-size:9px; text-align:left; color:orange">Rs.{{o.mrp}} </p> -->
          
            <!-- <p style="font-size:9px; text-align:left; color:orange">Status-{{o.order_status}}  </p>  -->
          
        
          </ion-item>
    
</ion-card>
</div>

<div  padding align="center">
<ng-container *ngIf="orders.order_status=='delivered'; else elseTemplate">
  
<button  full ion-button round tappable (click)="goTo('ReturnorderPage',orders)">Request Return</button><br>

<button  full ion-button  tappable round (click)="inovice()">Invoice</button>
<button  full ion-button  tappable round (click)="reqbyagain()">Buy Again</button>

</ng-container>
<ng-template #elseTemplate>
 <div *ngIf="orders.order_status!='returned'">
   <div  *ngIf="orders.order_status!='canceled'">
     <div  *ngIf="orders.order_status!='out for delivery'">
<button   full ion-button round  tppable (click)="goTo('CancleorderPage',orders)" >Cancel</button>
<ion-item>
  <p>You can change your order delivery timing befor its out for delivery by editing fields below</p>
  <ion-label>Date</ion-label>
  <ion-datetime displayFormat="DDDD DD/MM/YYYY" [min]="minDate" (ionChange)="onChange()"  [max]="maxDate" [(ngModel)]="newdeliverydate">
  </ion-datetime>
</ion-item>
<ion-item>
  <ion-label>Edit Time Slot</ion-label>
<ion-select [(ngModel)]="newtimeslot">
  <ion-option *ngFor="let time of timing" [value]="time"  >{{time}}</ion-option>
</ion-select>
</ion-item>
<button   full ion-button round  tppable (click)="updateOrderDetails()" >Update order</button>
</div>
</div>

</div>
<button  full ion-button  tappable round (click)="reqbyagain()">Buy Again</button>
</ng-template>
</div>
</ion-content>
